/* 共通部分 */
html {
    font-size: 14px;
    letter-spacing: .02em;
    scroll-behavior: smooth;
    background-color: #272727;
  }
  
  body{
    margin: 0%;
    width: 100vw;
    overflow-x: hidden;
  }
  
  img.background-pic{
  z-index: -100;
  position: fixed;
  filter: brightness(0.1);
  height: 100%;
  width: auto;
  padding: 0%;
  padding-left: 30%;
  
  }
  
  /* レスポンシブ対応 */
  div.base{
    max-width: 500px;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    
  }
  
  /* テキストの書式指定 */
  p.text{
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 0%;
  }

  /* ハーフトーンの基本設定 */
  img.helftone{
    position: absolute;
    
  }
  
  /* メニューボタン */
  /* メニューの設定 */
  .menu-btn {
      position: fixed;
      top: 10px;
      margin-left: 10px;
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      background-color: #000000;
      padding: 0;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: #ffffff;
      position: absolute;
  }
  .menu-btn span:before {
      bottom: 8px;
  }
  .menu-btn span:after {
      top: 8px;
  }
  
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  
  
  #menu-btn-check {
      display: none;
  }
  
  #menu-btn-check {
      display: none;
  }
  
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #000000;
  }
  .menu-content ul {
    padding: 70px 10px 0;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 30px;
    font-family:  'Anton', sans-serif;
    box-sizing: border-box;
    color:#000000;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #000000;
    border-right: solid 2px #000000;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 26px;
  }
  
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 900;
    background-color: #ffff00;
    transition: all 0.5s;/*アニメーション設定*/
  }
  
  
  #menu-btn-check:checked ~ .menu-content {
      left: 0;/*メニューを画面内へ*/
  }

  /* 横幅1000px以上の場合 */
@media screen and (min-width:1000px) {
  
    figure.top-section{
      z-index: 8;
      overflow-x: hidden;
      display: block;
      margin: 0%;
      position: relative; /*親要素をrelativeにすると子要素のabsoluteで範囲共有できる */
      background-color: #ffff00;
    } 
  
    /* メニューボタン */
    /* メニューの設定 */
    .menu-btn {
      display: none;
    }
  
  
    #menu-btn-check {
      display: none;
    }
  
    #menu-btn-check {
      display: none;
    }
  
    .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #000000;
    }
    .menu-content ul {
    padding: 70px 10px 0;
    }
    .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
    }
    .menu-content ul li a {
    display: block;
    width: 80%;
    font-size: 30px;
    font-family:  'Anton', sans-serif;
    box-sizing: border-box;
    color:#000000;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
    }
    .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #000000;
    border-right: solid 2px #000000;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 31px;
    }
  
    .menu-content {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0%;/*leftの値を変更してメニューを画面外へ*/
    z-index: -5;
    background-color: #ffff00;
    
    }
  
  
    #menu-btn-check:checked ~ .menu-content {
      left: 0%;/*メニューを画面内へ*/
    }
  }